<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/socket.io/socket.io.js"></script>
    <title>Chat test</title>
  </head>
  <body>
    <button id="button1">버튼 1</button>
    <button id="button2">버튼 2</button>
    <button id="button3">버튼 3</button>

    <h2>서버 응답:</h2>
    <p id="response"></p>
  </body>
  <script src="/js/test.js"></script>
</html>
